body, html {
    height: 100%;
    margin: 0;
}

body.img {
    /*source of image https://nintendo.fandom.com/wiki/Snom*/
    background-image: url("../img/snom.png");
    background-repeat: repeat;
}

div.padded {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

div.polaroid {
    width: 90%;
    margin-left: 5%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px  0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
}

div.containertxt {
    text-align: center;
    padding-bottom: 5px;
}